<?xml version="1.0" encoding="UTF-8"?>
<web-app id="web"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         metadata-complete="true" version="2.5">

    <display-name>starterkit</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:context/bootstrap.xml</param-value>
    </context-param>
    <context-param>
        <description></description>
        <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
        <param-value>no</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <description></description>
        <display-name>Log4JContextListener</display-name>
        <listener-class>
            no.tine.common.lifecycle.Log4JContextListener
        </listener-class>
    </listener>
    <servlet>
        <description></description>
        <display-name>DispatcherServlet</display-name>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:/context/mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>*.page</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>*.flt</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>charsetFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>charsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/common/errors/404-FileNotFound.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/common/errors/500-InternalServerError.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/common/errors/error.jsp</location>
    </error-page>
    <jsp-config>
        <taglib>
            <taglib-uri>/taglibs/tineutils</taglib-uri>
            <taglib-location>/WEB-INF/taglib.tld</taglib-location>
        </taglib>
    </jsp-config>

    <resource-env-ref>
        <resource-env-ref-name>jdbc/nmhdb2p</resource-env-ref-name>
        <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
    </resource-env-ref>
</web-app>
